*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    background-color: darkgray;
    color: white;
    text-align: center;
    width: 100%;
    height: 100px;
    top: 0px;
    position: fixed;
    z-index: 1;
}

.content{
    background-color: white;
    width: 100%;
    margin-top: 100px;
    position: relative;
    z-index: 0;
}


.footer{
    background-color: darkgray;
    color: white;
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: fixed;
}

